<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Assignment 4</h1>
      <app-game-control
        (tickIncremented)="addNumberComponent($event)"
        (gameStopped)="resetNumberArray($event)">
      </app-game-control>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <!-- It is not a good practice to use slice and reverse here. Use pipe instead. -->
      <app-num *ngFor="let num of numberArray.slice().reverse()">
        <app-even *ngIf="num % 2 == 0" [gameNum]="num"></app-even>
        <app-odd *ngIf="num % 2 != 0" [gameNum]="num"></app-odd>
      </app-num>
    </div>

  </div>
</div>


